---
import Card from "../components/Card.astro";
import { Calculator } from "../components/calculator";
import Layout from "../layouts/Layout.astro";

const questions: {
  question: string;
  answer: string;
}[] = [
  {
    question:
      "هل يجوز إعطاء زكاة الفطرة قبل حلول عيد الفطور لاحتمال عدم تمكنه إعطائها في صبيحة العيد لتعذّر إيصالها إلى مستحقيها؟",
    answer: "يجوز طيلة شهر رمضان.",
  },
  {question: "هل يجب إخراج زكاة الفطرة للجنين في بطن أمّه؟",
    answer: "لا يجب."
  }, {
    question: "لو لم ينو الشخص القربة إلى الله تعالى أثناء إعطاء زكاة الفطرة للفقير أو أثناء توكيل غيره بإعطائهما نيابةً عن الفقير  من دون عمن حيث اعتقد أنّ الموكّل أيضاً يوكا بنيّة القربة للزكاة ويكتفي الوكيل بنيّة الموكّل، أو اعتقد أنَ النيّة لا نجب في الزكاة، فهل تبرأ ذمّته أمام الله بسحب ما ذكر على رأي السيد الخوئي (فدس سره) والسيد السيستاني (دام ظله)؟ "
  ,answer: "يكتفي في النية أن يكون جاعيه لذلك وليست في صيغة خاصة تقال، وواضح أن الدفع لم يكن بنية الهبة فإون قصد بالفع أمراً آهر كالهبة أوأداء الديم أو غير ذلك فلا يجزي، وأمّا إذا أداها  قاصداً بها الزكاة من دون قصد القربة فالأظهر تعيّنها وإجزاءا وإن أثم"}
];
---

<Layout title="Welcome to Astro.">
  <main class="pr-4 flex flex-col gap-2 pt-2">
    {
      questions.map((q, i) => (
        <Card number={i + 1} question={q.question} answer={q.answer} />
      ))
    }
  </main>
</Layout>
