---
import MyLink from "../components/MyLink.astro";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="ar" dir="rtl">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />

    <title>{title}</title>
  </head>
  <body class="wallpaper">
    <header>
      <img src="/header.png" class="mb-4 w-full object-cover object-top" />
      <nav class="flex justify-around p-4">
        <MyLink href="/">زكاة الفطرة</MyLink>
        <MyLink href="/info">مسائل</MyLink>
      </nav>
    </header>
    <slot />
    <img src="/logo_down.png" class="absolute bottom-0" />
  </body>
</html>

<style is:global>
  @font-face {
    font-family: "co";
    src: url(/font.otf);
  }

  :root {
    font-family: co;
  }

  .wallpaper {
    background: url("/wallpaper.png");
    background-attachment: fixed;
    background-position: bottom;
    background-repeat: no-repeat;
  }

  .my-yellow {
    color: #d8b166
  }
</style>
